*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #2b58ac;
}

#container{
    width: 800px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    font-family: sans-serif;
    box-shadow: 1px 0px 2px rgb(180, 180, 180);
}

.let_img_1{
    width: 50%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    display: none;
}

.let_img_1 img{
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}

.let_img_2{
    width: 50%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}

.let_img_2 h5{
    font-size: 35px;
    text-align: center;
    padding: 30px 0px;
    color: #2b58ac;
}

.input{
    width: 90%;
    height: 35px;
    margin-top: 30px;
    margin-left: 18px;
    font-size: 18px;
    background-color: blue;
    position: relative;
}

.input input:focus ~ .hya::before,
.input input:valid ~ .hya::before{
    transform: scaleX(1);
}

.hya{
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -2px;
}

.input input{
    width: 100%;
    height: 100%;
    outline:none;
    border: none;
    background-color: #d0d0d0;
    padding-left: 5px;
    font-size: 15px;
}

.dang_nhap{
    text-decoration: underline;
    cursor: pointer;
}

/* .hya::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #2b58ac;
    transform: scaleX(0);
    transition:transform 0.3s ease;
} */

/* .input input:focus ~ label,
.input input:valid ~ label{
    transform: translateY(-20px);
    font-size: 16px;
    color: #2b58ac;
} */
/* .input label{
    font-size: 15px;
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    transition: all 0.3s ease;
} */

.check_box{
    margin-left: 18px;
    margin-top: 22px;
}

.check_box input{
    margin-top: 10px;
    width: 15px;
    height: 15px;
}

.check_box span{
    font-size: 15px;
    margin-left: 3px;
    color: #9c9c9c;
}

.but{
    width: 90%;
    height: 45px;
    margin-top: 25px;
    margin-left: 18px;
    font-size: 18px;
    background-color: #2b58ac;
    border: none;
    color: white;
    transition: 0.3s ease;
    padding-left: 5px;
    cursor: pointer;
}

.but:hover{
    background-color: #3c65b1;
}

.Password_font{
    float: right;
    padding: 15px 25px;
    color: #9c9c9c;
    cursor: pointer;
}

.login_sign_up{
    margin: 100px 0px;
    text-align: center;
    color: #9c9c9c;
    font-size: 15px;
}

@media ( min-width: 768px ){
    .let_img_1{
        /* width: 50%; */
        display: block;
    }
    .let_img_2{
        width: 50%;
        height: 100%;
    }
}